#!/bin/bash
#Manual configurations go here

## GENERAL OPTIONS ##

# Logging level for the entire application, gets propagated to various
# containers Application mode, should be set to eiher "DEBUG" or "PROD". Debug
# will enable extra logging and error messages
appMode="DEBUG"

## LANDING SERVER CONFIGURATION ##

#URL to the exit survey
finalSurveyURL="https://umdsurvey.umd.edu/jfe/form/SV_9B0Zz5LO7HpmQB0"

#The amount of instances that can be started by a single IP.
dailyMaxInstances="2"
#The amount of participants that may start the study - Signing the consent form counts as starting
maxInstances="200"

#Register API keys at https://www.google.com/recaptcha/admin
#These are currently test keys that will pass any verifications.
recaptchaSiteKey='6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI'
recaptchaSecret='6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe'

# Number of instances to keep in pool
poolSize="1"

#Dummy verifier, will always return Valid
#tokenGetUrl="https://<domain>/dummyToken/gettoken/"
#tokenSetUrl="https://<domain>/dummyToken/settoken/"
tokenGetUrl="http://control/token/gettoken/"
tokenSetUrl="http://control/token/settoken/"



## INSTANCE SERVER CONFIGURATION ##

#URL of the landing server - You should use HTTPS in any case!
#Don't use a slash at the end
landingURL="http://nginx"

#This URL will be opened in a window, if a participants decides to skip a task
skippedTaskSurveyURL="https://<URL>"

#The amount of tasks in your task files.
taskCount="4"
