# Configuration files
config/secrets
/postgres/Dockerfile
containers/postgres/dbSchema.sql
containers/postgres/taskSchema.sql
containers/landing/webpageConf/config.php
containers/redis/redis.conf
containers/submit/configSubmit.py
manager/manager_config.py


# Task files
generator/generated/
containers/submit/tasks/

# Python stuff
__pycache__/
